body {
    margin-left: 100px;
    margin-right: auto;

}
h1{
    width: 400px;
    text-shadow: 2px 2px #f7c6ed !important;
    color: #81687c !important;
    text-align: center;
    text-transform: uppercase;
}

#hw1Canvas {
    border-style: solid;
    border-color: #81687c;
}

canvas {
    margin-top: 50px;
    display: block;
}

#position {
    padding-top: 30px;
    color: #81687c !important;

}